
.dataTables_filter{
	float: left !important;
}

.profile-header{
	height:100px;
	color:#337ab7;
}

.profile-container{
	width: 90%;
	margin: auto;
}

.profile-container .container{
	border: 1px solid black;
}

.dataTable{
	cursor:pointer;
}

table#tblProfile{
	border: 1px solid gray;
}

.profile-container{
	padding: 50px !important;	
}

.profile-image{
	height:90px;
	width:90px
}

.header-buffer{
	margin:20px;	
}

.vertical-center{
	height:100px;
	display: flex;
	align-items: center;
	padding-left:30px !important;
}