
.dataTables_filter{
	float: left !important;
	margin-bottom: 30px;
}

.profile-list{
	width: 90%;
	margin: auto;
}

.dataTable{
	cursor:pointer;
}

table#tblProfile{
	border: 1px solid gray;
}

.profile-container{
	border: 1px solid black;
	padding: 20px;	
}

.profile-image{
	height:100px;
	width:100px
}

.row{
	padding-left:50px;	
}